/* fuentes */
/* para generar kit de fuentes http://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
    font-family: "obcecada";
    src: url('../fuentes/obcecada-sans-ffp-webfont.eot');
    src: url('../fuentes/obcecada-sans-ffp-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/obcecada-sans-ffp-webfont.woff2') format('woff2'),
         url('../fuentes/obcecada-sans-ffp-webfont.woff') format('woff'),
         url('../fuentes/obcecada-sans-ffp-webfont.ttf') format('truetype'),
         url('../fuentes/obcecada-sans-ffp-webfont.svg#obcecada_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto';
    src: url('../fuentes/roboto-thin-webfont.eot');
    src: url('../fuentes/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/roboto-thin-webfont.woff2') format('woff2'),
         url('../fuentes/roboto-thin-webfont.woff') format('woff'),
         url('../fuentes/roboto-thin-webfont.ttf') format('truetype'),
         url('../fuentes/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Carrusel */


div.c-wrapper{
    margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
    margin: auto;
}

.boton_accion{
  cursor: pointer;
  border: 0px;
}

.logo_carousel {
  z-index: 99;
  position: absolute;
  left: 5%;
  margin-top: 3em;
  padding: 0px;
  height: 15em;
  width: 15em;
  background-image: url('../imagenes/sistema/logo.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo_carousel_xs {
  z-index: 99;
  position: absolute;
  left: 5%;
  top: 60px;
  margin: 0px;
  padding: 0px;
  height: 5em;
  width: 5em;
  background-image: url('../imagenes/sistema/logo.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.logo_top{
  margin-left: 2em;
  margin-top: 5px;
  height: 90%;
}

.logo_catalogo {
  z-index: 99;
  position: absolute;
  left: 5%;
  margin-top: 3em;
  padding: 0px;
  height: 15em;
  width: 15em;
  /*background-image: url('../imagenes/sistema/logo.png');*/
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo_catalogo_xs {
  z-index: 99;
  position: absolute;
  left: 5%;
  top: 60px;
  margin: 0px;
  padding: 0px;
  height: 5em;
  width: 5em;
  /*background-image: url('../imagenes/sistema/logo.png');*/
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Estilo para el menu principal frontend*/
.menu_frontend
{
  z-index: 999;
	background-color:#6e858d;
	color: #fff;
/*para Firefox*/
-moz-border-radius: 0px 0px 6px 6px;
/*para Safari y Chrome*/
-webkit-border-radius: 0px 0px 6px 6px;
/* para Opera */
border-radius: 0px 0px 6px 6px;
behavior:url(border.htc);
}

.menu_frontend a {
  text-decoration: none;
  color: #ffffff;
}
.menu_frontend a:hover {
  color: #6e858d;
}

.menu_frontend ul{
  color: #ff0000;
}

.menu_frontend a:focus{
  color: #94b6ac;
}

.menu_frontend a:active{
  color: #94b6ac;
}

.menu_frontend li li a{
  color: #ffffff;
}

.menu_frontend li li a:hover{
  color: #6e858d;
}

.menu_frontend  .navbar-toggle .icon-bar {
  background-color: #888;
}

.menu_frontend .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.menu_frontend .navbar-toggle:focus {
  outline: 0;
}
.menu_frontend .navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.menu_frontend .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

/* Estilo para el menu footer frontend*/

.menu_footer
{
  background-image: url('../imagenes/sistema/barra_footer_verde.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.menu_footer ul{

}

.menu_footer a {
  text-decoration: none;
  color: #ffffff;
}

.menu_footer a:hover{
  color: #94b6ac;
}

.menu_footer a:focus{
  color: #94b6ac;
}

.menu_footer a:active{
  color: #94b6ac;
}

.menu_footer li ul{
  background-color:#94b6ac;
}

.menu_footer li li a:hover{
  background-color:#6e858d;
}

/* Estilo para el footer*/

.pie_pagina
{
	background-color:#986764;
	border-color: #986764;
	color: #fff;
}

.redes_sociales {
  margin: 0px;
  padding: 0px;
  padding: 10px;
}

.redes_sociales a {
  text-decoration: none;
  text-align: right;
}


/* Redes Sociales */
.redes_sociales ul{
  margin-left: 10px;
  padding: 0px;
  list-style-type:none;
}


.redes_sociales li{
  margin-right: 1em;
  padding-top: 0.4em;
  height: 2.5em;
  width: 2.5em;
  background-image: url('../imagenes/sistema/social_net_bg.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float:left;
}

.redes_sociales li:hover{
  background-image: url('../imagenes/sistema/social_net_bg_hover.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.rs_face{
  margin: auto;
  height: 80%;
  width: 80%;
  background-image: url('../imagenes/sistema/social_net_facebook.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.rs_insta{
  margin: auto;
  height: 80%;
  width: 80%;
  background-image: url('../imagenes/sistema/social_net_instagram.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.rs_mail{
  margin: auto;
  height: 80%;
  width: 80%;
  background-image: url('../imagenes/sistema/social_net_mail.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

 
.fondo_inicial
{
  background-image: url("../imagenes/sistema/background.png"); 
}

.titulo_form
{
  background-color:#b38f8f;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight:bold;
  border-radius: 5px; 
}


.titulo_outlet
{
  background-color:#EE405F;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 5px; 
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.titulo_l
{
  
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 5px; 
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}



.titulo_lista
{
  background-color:#D2C8B0;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 5px; 
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
}

.btn_form
{
   background-color:#37a1c1;
   color: #fff;

}
.btn_menu
{
  text-align: left;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}

.etq_form
{
  font-size: 1.4rem;
  font-weight:bold;
  color:#9d9999;

}
.cajalogin
{
  padding: 20px;
  margin: 50px auto;
  width: 360px;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fafafa;
}

.cajacontacto
{
  padding: 20px;
  margin: 50px auto;
  width: 600px;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fafafa;
  

}

.cajaform
{
  padding: 20px;
  margin: 50px auto;
  width: 400px;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fafafa;
  

}
.msg_modal_icon{
  font-size:3em; 
  padding-right:0.5em; 
  margin-top:-0.2em; 
}

.glyphicon_azul{
  color: #286090;
}

.oculto{
  display: none;
}

.cajaancha
{
  padding: 20px;
  margin: 50px auto;
  width: 70%;
  border-radius: 8px;
  -webki-border-radius: 8px;
  -moz-border-radius: 8px;
}

.cabecera_categorias
{
  height:10em;
  background-image: url("../imagenes/sistema/pepitas_top.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cabecera_procesar
{
  height: 10em;
  background-color: #EEEEEE;
  background-image: url("../imagenes/sistema/nina.png");
  -moz-background-size: 100%;
  -webkit-background-size: 100% ;
  background-size: 100% ;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: auto 100%;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;

}


.titulo_categoria_menu{
  font-family: obcecada;
  font-size: 2.5em;
  padding-left: 1.6em;
}
 .linea_punteada 
 {
  margin-top: 2.5em;
  border: 1px dashed #b8afaf; 
  height: 0; 
  width: 80%; 
}

.titulo_categoria{
  font-family: obcecada;
  font-size: 3.5em;
  
}

.titulo_categoria_modal{
  font-family: obcecada;
  font-size: 2.5em;
  
}


.desc_cate{
  font-family: Arial;
  font-size: 1em;
  
}


.img_catalogo_back
{
  padding-top: 0.5em;
  margin: auto auto;
  background-color: #FFF;
  border:1px dashed #9d9d9d;
  max-width:10em; 
  min-width:10em; 
  min-height:10em;
  max-height: 10em; 
}

.img_catalogo
{
  max-width:9em; 
  min-width:9em; 
  min-height:9em;
  max-height: 9em; 
}

.img_catalogoex_back_cel
{
  padding-top: 1%;
  z-index: 99999999999999999;
  background-color: #FFF;
  border:1px dashed #9d9d9d;
  max-width:16.2em; 
  min-width:16.2em; 
  min-height:16.2em;
  max-height: 16.2em; 
  margin: auto auto;
  margin-bottom: 1em;
  transition: all 0.7s ease;
}

.img_catalogoex_back
{
  padding-top: 1%;
  z-index: 99999999999999999;
  background-color: #FFF;
  border:1px dashed #9d9d9d;
  max-width:16.2em; 
  min-width:16.2em; 
  min-height:16.2em;
  max-height: 16.2em; 
  margin: auto auto;
  margin-bottom: 1em;
  transition: all 0.7s ease;
}

.img_catalogoex_back:hover
{
  position: relative;
  min-width: 35em;
  min-height: 35em;
  z-index: 999;
}

.img_catalogoex_cel
{
  max-width:94%; 
  min-width:94%; 
  min-height:93%;
  max-height:93%; 
  transition: all 0.7s ease;
}

.img_catalogoex
{
  max-width:94%; 
  min-width:94%; 
  min-height:93%;
  max-height:93%; 
  transition: all 0.7s ease;
}

.img_catalogoex:hover
{
  position: relative;
  min-height:97%;
  max-height:95%;
}

.img_catalogo_div_back
{
  background-color: #FFF;
  border:1px dashed #9d9d9d;
  padding-top: 0.17em;
  max-width:6.5em; 
  min-width:6.5em; 
  min-height:6.5em;
  max-height: 6.5em; 
  margin: auto auto;
  margin-bottom: 1em;
}

.img_catalogo_div
{
  max-width:6em; 
  min-width:6em; 
  min-height:6em;
  max-height:6em; 
}

.img_previa_back
{
  padding-top: 0.17em;
  background-color: #FFF;
  border: 0.3em solid #FFF;
  max-width:3.5em; 
  min-width:3.5em; 
  min-height:3.5em;
  max-height: 3.5em; 
  border:1px dashed #9d9d9d;
}

.img_previa
{
  max-width:3em; 
  min-width:3em; 
  min-height:3em;
  max-height:3em; 
  cursor:pointer;
}

.scrol_catalogo
{

  height: 80%;
  width: 25%;
}

.precio{
  font-family: Arial;
  font-size: 1.5em;
   
}

.precio_p{
  font-family: Arial;
  font-size: 1em;
  font-weight: bold;
   
}

.etiqueta_check{
  font-family: Arial;
  font-size: 0.7em;
   
}

.combo_compra
{
  width: 6em;
  padding: 1px;
  border:1px dashed #000;
  text-align: center;
}

.sombra_blanca{
 -webkit-box-shadow: 2px 2px 8px #FFF;
 -moz-box-shadow: 2px 2px 8px #FFF;
 box-shadow: 2px 2px 8px #FFF;
}

.filtrar{
  margin-top:-20px;
  margin-right: 20px;
  padding: 5px;
  padding-top: 15px;
  display: none; 
  float: right;
  min-width: 40em;

  -webkit-box-shadow: 3px 3px 5px #999;
  -moz-box-shadow: 3px 3px 5px #999;
  box-shadow: 3px 3px 5px #999;

  /*para Firefox*/
  -moz-border-radius: 0px 0px 6px 6px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 0px 0px 6px 6px;
  /* para Opera */
  border-radius: 0px 0px 6px 6px;
  behavior:url(border.htc);
}

.combo_filtro
{
  padding: 1px;
  border:1px dashed #000;
  text-align: center;
}
            
.affix {
  top: 0px;
  left: 20px;
  position: fixed;
  z-index: 99;
}   

.pop_user{
  padding: 10px;
  padding-bottom: 2px; 
  margin: 0; 
  margin-top: -18px; 
  margin-right: 12em;
  margin-bottom: -10em;
  float:right;   
  border: 1px solid #000; 
  backtroud-color:#fff; 
  width:15em; 
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
  /*para Firefox*/
  -moz-border-radius: 0px 6px 6px 6px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 0px 6px 6px 6px;
  /* para Opera */
  border-radius: 0px 6px 6px 6px;
  behavior:url(border.htc);
  z-index: 999;
  position: relative;
}
.pop_user_xs{
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 10px;
  padding-bottom: 2px; 
  border: 1px solid #000; 
  width:13em; 
  background-color: #fff;
  -webkit-box-shadow: -2px -2px 5px #999;
  -moz-box-shadow: -2px -2px 5px #999;
  box-shadow: -2px -2px 5px #999;
  /*para Firefox*/
  -moz-border-radius: 6px 6px 0px 6px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 6px 6px 0px 6px;
  /* para Opera */
  border-radius: 6px 6px 0px 6px;
  behavior:url(border.htc);
  z-index: 999;
}

.pop_user_home{
  padding: 10px;
  padding-bottom: 2px; 
  margin: 0; 
  margin-top: -18px; 
  margin-right: 1em;
  margin-bottom: -10em;
  float:right;   
  border: 1px solid #000; 
  backtroud-color:#fff; 
  width:15em; 
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
  /*para Firefox*/
  -moz-border-radius: 6px 0px 6px 6px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 6px 0px 6px 6px;
  /* para Opera */
  border-radius: 6px 0px 6px 6px;
  behavior:url(border.htc);
  z-index: 999;
  position: relative;
}

/* seleccion de productos en celular*/
.prod_sel
{
  z-index: 999;
  background-color:#6e858d;
  color: #fff;
/*para Firefox*/
-moz-border-radius: 0px 0px 6px 6px;
/*para Safari y Chrome*/
-webkit-border-radius: 0px 0px 6px 6px;
/* para Opera */
border-radius: 0px 0px 6px 6px;
behavior:url(border.htc);
}

.prod_sel a {
  text-decoration: none;
  color: #ffffff;
}
.prod_sel a:hover {
  color: #6e858d;
}

.prod_sel li li a{
  color:#fff;
}
/* simbolo de nuevo */
.nuevo_prod{
  width: 3em; 
  height: 3em; 
  background-image: url('../imagenes/sistema/nuevo.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative; 
  float: right;  
  margin-bottom: -3em;
  right: -1em;
  top: -0.5em;
}

.vineta-marron {
  width: 1em;
  height: 1em;
  background-image: url('../imagenes/sistema/logo_tn_marron.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  margin-right: 0.3em;
  margin-top: 0.2em;
}

.vineta-blanco {
  width: 1em;
  height: 1em;
  background-image: url('../imagenes/sistema/logo_tn_blanco.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.vineta-default-white {
  width: 1.5em;
  height: 1.2em;
  background-image: url('../imagenes/acciones/default_white.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}

.vineta-enviar {
  width: 1.2em;
  height: 1.2em;
  background-image: url('../imagenes/acciones/enviar.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}
.ico-mp {
  font-size: 0px;
  width: 71px;
  height: 40px;
  background-image: url('../imagenes/acciones/mercadopago.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
}
.vineta-pago {
  width: 1.2em;
  height: 1.2em;
  background-image: url('../imagenes/acciones/pago.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}
.vineta-enviado {
  width: 2em;
  height: 1.2em;
  background-image: url('../imagenes/acciones/envio.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}

.vineta-buscar {
  width: 1.5em;
  height: 1.2em;
  background-image: url('../imagenes/acciones/lupa.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}

.vineta-cesta {
  width: 1.2em;
  height: 1em;
  background-image: url('../imagenes/sistema/cesta.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.1em;
}

.vineta-cesta-lg {
  width: 1.7em;
  height: 1.4em;
  background-image: url('../imagenes/sistema/cesta.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}

.vineta-salir {
  width: 1.4em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/salir.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
}

.vineta-user {
  width: 1.4em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/user.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}

.vineta-money {
  width: 1.8em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/money.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}
.vineta-cupon {
  width: 1.4em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/icono_cupon.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}
.vineta-giftc {
  width: 1.8em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/icono_giftc.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}
.vineta-lista-regalo {
  width: 1.4em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/icono_lista_regalo.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}
.vineta-compras {
  width: 1.8em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/compras.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}

.vineta-candado {
  width: 1.3em;
  height: 1.4em;
  background-image: url('../imagenes/acciones/candado.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
}

.vineta-back {
  width: 1.5em;
  height: 1.5em;
  background-image: url('../imagenes/acciones/back.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0em;
}
.vineta-next {
  width: 1.5em;
  height: 1.5em;
  background-image: url('../imagenes/acciones/next.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0em;
}

.vineta-regalo {
  width: 1em;
  height: 1em;
  background-image: url('../imagenes/acciones/regalo.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.vineta-info-azul {
  width: 2em;
  height: 2em;
  background-image: url('../imagenes/acciones/info.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.2em;
}
.vineta-info-blanco {
  width: 2em;
  height: 2em;
  background-image: url('../imagenes/acciones/info_blanco.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.vineta-add-datos {
  width: 1em;
  height: 1em;
  background-image: url('../imagenes/acciones/add.png');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  float: right;
  margin-left: 0.3em;
  margin-top: 0.2em;
}

.badge-nuevo{ 
  top: 0.1em;  
  color: #efefef;
  border: 1px solid #FFFFFF;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  position: absolute;
  right: 18px;
  z-index: 999;
}

.badge-lista{ 
  top: 0.1em;  
  color: #efefef;
  border: 1px solid #FFFFFF;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px;
  position: relative;
  float:right;
  z-index: 999;
  right: -5px;
}

/* para la linea de tiempo de procesar compra */
.procesar_ico_on {
  cursor: pointer;
}
.procesar_linea_punteada {
  border: 0.1em dashed #b8afaf; 
  margin-top: 2em;
}

.texto-contenido{
  font-weight: bold;
  color: #908580;
}

.opcion-faq{
  width: 80%;
  margin: auto auto;
  margin-bottom: 0.5em;
  padding: 0.5em;
  font-size: 1.2em;
  border-bottom: 0.09em solid #908580;
  cursor: pointer;
}
.opcion-faq:hover{
  background-color: #908580;
  color: #ffffff;
}

.pregunta{
  padding-left: 1em;
  color: #31708f;
}
.respuesta{
  padding-left: 3em;
  margin-bottom: 1em;
  font-weight: normal;
}

ol li {font-weight:bold;} 
ol li span {font-weight:normal;}

.caja_punteada{
  border: 3px dashed #AAAAAA;  
  margin:auto auto; 
  padding:1em;
  margin: 1em;
}


.fondo_boton
{
  background-color: #b3908f;
  color: #FFF;
}

.fondo_predefinido
{
  background-color: #D2C8B0;
  color: #FFF;

}
.fondo_campo
{

  background-color: #f2e6f0;
}

/* parrafo justificado */
.text-justificado {
  text-align: justify;
  text-justify: inter-word;
}

.th-tabla
{
  color: #fff;
  background-color: #D2C8B0;
}

.borde-ventana-punteada{
  border: 1px dashed #c0ab9e;
  position: relative;
  z-index: 99;
  padding: 10px;
}

.ventana-titulo{
  height: 4em;
  width: 398px;
  background-color: #c8bfa9;
  color: #FFFFFF;
  font-size: 2em;
  float: left;
  z-index: 1;
  line-height: 1em;
  margin-left: -15px;
  margin-top: -15px;
  padding-top: 1.3em;
  padding-left: 1.2em;
}

.ventana-titulo-img{
  height: 4em;
  width: 398px;
   background-image: url('../imagenes/sistema/banner_contactenos.jpg');
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #c8bfa9;
  color: #FFFFFF;
  font-size: 2em;
  float: left;
  position: relative;
  z-index: 999;
  line-height: 1em;
  margin-left: -15px;
  margin-top: -15px;
  padding-top: 1.3em;
  padding-left: 1.2em;
}


.ventana-titulo-resumen{
  height: 2.3em;
  line-height: 2em;
  background-color: #b4908f;
  color: #FFFFFF;
  font-size: 1.3em;
  
}

.ventana_resumen
{

    background-color: #fcfbfb; 
    width: 25em; 
    height: 32em; 
    margin:auto auto; 
    padding:0.5em;

}

.letra_resumen
{

    font-size: 0.8em;
}
.promo
  {
    width: 46em;
  }

@media only screen and (min-width: 320px) and (max-width: 480px){

  .promo
  {
    width: 20em;
  }

}

@media only screen and (min-width: 481px) and (max-width: 599px){
  .promo
  {
    width: 20em;
  }
}

