/* stylesheet for demo and examples */

.showcase .content{
	float: left;
	width: 340px;
	height: 300px;
}

.showcase #content-3.content{
	margin-right: 40px;
	width: 310px;
	border: 1px solid #000;
}